@page
@model ApplicationSecurityAssignment.Pages.ResetPasswordModel
@{
}

<style>
    .form-container {
        padding: 20px;
        max-width: 500px;
        margin: 0 auto;
    }

        .form-container label {
            font-weight: 600;
            font-size: 18px;
            margin-left: 4px;
        }

        .form-container .radio-label {
            font-weight: 400;
            font-size: 16px;
            margin-left: 5px;
        }

        input[type="radio"],
        .form-container .radio-label {
            cursor: pointer;
        }

        .form-container input[type="text"],
        .form-container input[type="email"],
        .form-container input[type="password"],
        .form-container textarea {
            outline: none;
            border: 1px solid grey;
            padding: 5px;
            border-radius: 5px;
        }

        .form-container .profile-picture {
            display: none;
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
</style>

<script>
    @if (TempData.ContainsKey("Alert"))
    {
        <text>
            alert("@TempData["Alert"]")
            window.location.href = "/Login"
        </text>
    }
</script>

<div class="container">
    <h3 class="text-center">Login</h3>
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="ResetPasswordViewModel.Password"></label>
                <div class="d-flex flex-column">
                    <input asp-for="ResetPasswordViewModel.Password" type="password" id="passwordInput" />
                    <span asp-validation-for="ResetPasswordViewModel.Password" class="text-danger"></span>
                    <span id="pwdLength" style="color:red;font-size:14px;font-style:italic">Must be at least 12 characters</span>
                    <span id="pwdLower" style="color:red;font-size:14px;font-style:italic">Must have at least 1 lower-case character</span>
                    <span id="pwdUpper" style="color:red;font-size:14px;font-style:italic">Must have at least 1 upper-case characters</span>
                    <span id="pwdNumber" style="color:red;font-size:14px;font-style:italic">Must have at least 1 number</span>
                    <span id="pwdSpecial" style="color:red;font-size:14px;font-style:italic">Must have at least 1 special character</span>
                </div>
            </div>
            <recaptcha />
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var passwordInput = document.getElementById("passwordInput")
        var passwordLength = document.getElementById("pwdLength")
        var passwordLower = document.getElementById("pwdLower")
        var passwordUpper = document.getElementById("pwdUpper")
        var passwordNumber = document.getElementById("pwdNumber")
        var passwordSpecial = document.getElementById("pwdSpecial")

        passwordInput.addEventListener("input", function () {
            var password = this.value;
            if (password.length >= 12) passwordLength.style.color = "green";
            else passwordLength.style.color = "red";

            if (/[a-z]/.test(password)) passwordLower.style.color = "green";
            else passwordLower.style.color = "red"

            if (/[A-Z]/.test(password)) passwordUpper.style.color = "green";
            else passwordUpper.style.color = "red"

            if (/\d/.test(password)) passwordNumber.style.color = "green";
            else passwordNumber.style.color = "red";

            if (/[\!\._]/.test(password)) passwordSpecial.style.color = "green";
            else passwordSpecial.style.color = "red";
        })
    })
</script>